.datePicker *:after {
    display: block;
    clear: both;
    content: '';
}


@media (min-width: 768px) {
    .datePicker{
        min-width: 276px;
    }
}
table {
    border-collapse: collapse;
}

.datePicker {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    opacity: 0;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.datePicker table {
    margin: 10px auto;
    position: relative;
    height: 279px;
}

.datePicker .calendar-heading {
    padding: 10px;
    background: #1b2d5a;
    /*border-radius: 4px 4px 0 0;*/
}

.datePicker .calendar-heading .prev {
    float: left;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /*border-radius: 4px;*/
    background: url(../images/btn-prev.png) no-repeat center;
    background-size: 10px 14px;
}

.datePicker .month-title {
    font: 16px 'robotobold', sans-serif, arial;
    /*    float: left;*/
    /*    width: 216px;*/
    padding: 4px;
    text-align: center;
    color: #fdffff;
}

.datePicker .calendar-heading .next {
    float: right;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /*border-radius: 4px;*/
    background: url(../images/btn-next.png) no-repeat center;
    background-size: 10px 14px;
}

.datePicker .calendar-heading .next:hover,
.datePicker .calendar-heading .prev:hover {
    /*background-color: #19939e;*/
    background-color: none;
}
.datePicker table .table-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.datePicker .datePicker-calendar tr th {
    font: 14px/20px 'robotobold', sans-serif, arial;
   /* width: 20px;*/
    height: 20px;
    padding: 10px;
    width: 14.5%;
    text-align: center;
}

.datePicker .datePicker-calendar tr td {
    font: 14px/20px 'robotoregular', sans-serif, arial;
    width: 20px;
    height: 20px;
    /*padding: 10px;*/
    padding: 7px 10px;
    cursor: pointer;
    text-align: center;
    color: #020202;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 5px solid #fff;
}

.datePicker .datePicker-calendar tr td.today,
.datePicker .datePicker-calendar tr td.today.disabled:hover {
    color: #ecf0f1;
    background: #16a085;
    box-shadow: inset 0px -4px 0px 0px rgba(99, 98, 98, 0.27);
}

.datePicker .datePicker-calendar tr td.active,
.datePicker .datePicker-calendar tr td.active:hover,
.datePicker .datePicker-calendar tr td.active.disabled:hover {
    color: #ecf0f1;
    background: #34405f;
    /*box-shadow: inset 4px 4px 2px 0px rgba(99, 98, 98, 0.27);*/
}

.datePicker .datePicker-calendar tr td.prev-month-date.active,
.datePicker .datePicker-calendar tr td.next-month-date.active,
.datePicker .datePicker-calendar tr td.prev-month-date.active:hover,
.datePicker .datePicker-calendar tr td.next-month-date.active:hover {
    color: #e4e4e4;
}

.datePicker .datePicker-calendar tr td.prev-month-date,
.datePicker .datePicker-calendar tr td.next-month-date {
    color: #95a5a6;
}

.datePicker .datePicker-calendar tr td.disabled {
    cursor: not-allowed;
    color: #d8d6d6;
}

.datePicker .datePicker-calendar tr td:hover {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #ecf0f1;
    background: #1b2d5a;
    box-shadow: inset 0px -4px 0px 0px rgba(99, 98, 98, 0.27);
}

.datePicker .datePicker-calendar tr td.disabled:hover {
    background: none;
    color: #d8d6d6;
    box-shadow: none;
}

.datePicker .datePicker-calendar .red {
    color: #1b2d5a;
}


/* Footer */

.footer-wrapper {
    text-align: center;
    margin: 10px;
    font: 16px 'robotoregular', sans-serif;
    font-weight: 200;
    cursor: pointer;
    background: #1b2d5a;
    padding: 10px;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer-wrapper:hover {
    background: #d84315;
}